# Introduction to Python & Colab

Welcome! You are looking at a powerful document type: a *juyter notebook*. These notebooks can interactively execute code. Test it out by pressing the ▶️ symbol of the cell below:

In [1]:
print("Hello World!")

Hello World!

You just executed your first python code! Python is an old programming language with a massive community and many, many applications. In this tutorial, we will focus on the necessary basics to work with text.

## Values and Objects

Maybe most importantly, you can assign *values* to *objects*. A value can be a text (string) or natural number (integer) or decimal (float). These data types are our most fundamental building blocks, also called data types. You can assign them to an object with a name of your choosing using the `=` operator:

In [2]:
my_first_object = 10

Now, when you call the object, it will return its value:

In [3]:
my_first_object

10

One powerful thing of working with objects is that you can calculate with them as placeholders for values:

In [4]:
my_first_object * 10

100

In python, you can even calculate with texts:

In [8]:
my_first_string = "NLP"
print(my_first_string * 10)
print(my_first_string + " <3 LLMs")

NLPNLPNLPNLPNLPNLPNLPNLPNLPNLP
NLP <3 LLMs

You can transform numerical values to texts by using `str()`, and texts to numerical values by using `int()` or `float()`.

In [89]:
str(1)

'1'

A very important data type is the logical or boolean value:

In [9]:
llms_are_powerful = True
llms_are_powerful

True

## Conditional Statements

We can use them to make *conditional statements*:

In [10]:
if llms_are_powerful:
    print("LLMs are powerful!")

LLMs are powerful!

*Exercise: change the value of the object `llms_are_powerful` and run the same code again. What happens?*

In [ ]:
## Your code here

In [ ]:
if llms_are_powerful:
    print("LLMs are powerful!")

LLMs are powerful!

These conditional statements can be combined to control the flow of your code:

In [11]:
a = 5
b = 4

if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print("a is equal to b")

a is greater than b

...and this also works with text:

In [62]:
text = "social media research"
if "social" in text:
    print("This text might be about social science!")
else:
    print("This text is about something else.")
print()

This text might be about social science!

*Exercise: Change the values of `a` and `b` to see how the output changes.*

## Lists and Dictionaries

An object does not have to consist of a single value. We can use *lists* to combine values. They are defined using brackets to combine several values (or objects):

In [43]:
my_first_list = [1, 2, 3, 4, 5]
my_first_list

[1, 2, 3, 4, 5]

We can then also use brackets to access specific values in these lists.

⚠️ **CAREFUL: Counting in python starts with `0`!**

In [44]:
my_first_list[0]

1

In [45]:
my_first_list[5] # to access the tenth element, you need to index my_first_list[9]

IndexError: list index out of range

Two important *functions* (technically *methods*) when working with lists are `extend()` and `append()`. `extend` extends the list with objects or values in another list:

In [46]:
my_first_list.extend([6, 7, 8, 9, 10])
my_first_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

... while `append` adds the new item as a single item in your list:

In [47]:
my_first_list.append([11, 12, 13, 14, 15])
my_first_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13, 14, 15]]

## Loops

One particularly powerful way to work with lists are *loops*. *for-loops* repeat a specific snippet of code for each item in a list:

In [55]:
my_first_list = [1, 2, 3, 4, 5]

for item in my_first_list:
    print(item * 2)

2
4
6
8
10

*Exercise: Change the code snippet within the for loop to apply different operations to each item.*

A particularly useful function for loops is `enumerate()`, which creates an index for the loop:

In [88]:
for i, item in enumerate(my_first_list):
    print("Item " + str(i) + " is " + str(item))

Item 0 is 1
Item 1 is 2
Item 2 is 3
Item 3 is 4
Item 4 is 5

*while-loops* run as long as their condition is true:

In [58]:
a = 1

while a < 5:
    print(a)
    a += 1

1
2
3
4

We can also use `break` to stop a loop's execution:

In [77]:
a = 1
while True:
    print(a)
    a += 1
    if a > 5:
        break

1
2
3
4
5

*Exercise: change the condition of the while loop to see how the behaviour changes.*

A particular way to iterate over lists in python is a so-called *list-comprehension*. In order to create a list comprehension, we basically combine square brackets and a loop:

In [61]:
[i ** 2 for i in my_first_list]

['m', 'y', '_', 'f', 'i', 'r', 's', 't', '_', 'l', 'i', 's', 't']

*Exercise: create your own list and use it in a list comprehension.*

> 💡List comprehensions work on many kinds of objects, not only lists.

## Working with text

Python has a few basic functions which make working with text a lot easier. Their names are rather self-descriptive:

In [63]:
text = "Natural Language Processing"
text.split()

['Natural', 'Language', 'Processing']

In [64]:
text.split('a')

['N', 'tur', 'l L', 'ngu', 'ge Processing']

In [65]:
text.replace('a', 'o')

'Noturol Longuoge Processing'

In [66]:
text.lower()

'natural language processing'

In [68]:
text.upper()

'NATURAL LANGUAGE PROCESSING'

*In colab, you can see the set of applicable functions when typing the object name followed by a dot. Try it out by applying another function to the string:*

In [73]:
text ## add dot here

4

## Dictionaries

Sometimes, we need to ensure that certain values are accessible by name. For this purpose, python contains dictionaries, where each value is associated with a given *key*. To access the value, we need to provide the key.

In [74]:
my_first_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

my_first_dict["name"]

'John'

You can change the values in the list the same way:

In [76]:
my_first_dict["age"] = 31
my_first_dict

{'name': 'John', 'age': 31, 'city': 'New York'}

## Functions

Functions are one of the most powerful properties of any programming language. They allow us to apply the same operation to any object, without necessitating a re-write of our code. We define. a function like this:

In [83]:
def greet(name):
    return "Hello, " + name + "! Welcome to Python!"

Let's go through each part:

- `def` tells python to define a function
- `greet` defines the name of the function for later use
- `(name)` specifies the *arguments* passed to the function. We can specify several arguments, as you will see soon.
- `:` signifies the following code is part of the function. IMPORTANT: the code needs to be indented. Otherwise, it will not be recognized

def greet(name):
    return "Hello, " + name + "! Welcome to Python!"

In [84]:
def greet(name, excited = False):
    tmp_str = "Hello, " + name + "! Welcome to Python!"
    if excited: ## this works
        tmp_str = tmp_str + " It is so great to meet you!"
    return tmp_str

greet("Nico")

'Hello, Nico! Welcome to Python!'

In [85]:
def greet(name, excited = False):
    tmp_str = "Hello, " + name + "! Welcome to Python!"
if excited: ## this does not work
    tmp_str = tmp_str + " It is so great to meet you!"
return tmp_str

NameError: name 'excited' is not defined

*Can you explain the error message?*

# Exercise

0. Define an object containing a string and use list comprehension on this object.

In [ ]:
## your code here

1. Create a list and iterate over each item using a for loop. Ensure that the output differs, depending on the value in the list by using a conditional statement.

2. Split the following text into words. Count the number of words containing an 'o' and the number of words who do not.

text_to_analyze = "As Gregor Samsa awoke one morning from uneasy dreams he found himself transformed in his bed into a gigantic insect. He was lying on his hard, as it were armor-plated, back and when he lifted his head a little he could see his dome-like brown belly divided into stiff arched segments on top of which the bed quilt could hardly keep in position and was about to slide off completely. His numerous legs, which were pitifully thin compared to the rest of his bulk, waved helplessly before his eyes."

3. Write a function that takes a text and counts the number of 'a's and 'e's in it. Do not use `count()` Apply it to the text above.